{% block body %}
 <main id="main" class="main">

    <div class="pagetitle">
      <h1>Gestion des services</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Gestion des service</li>
          <li class="breadcrumb-item active">Ajouter/modifier service</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Service</h5>

              <!-- Horizontal Form -->
               {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-10 col-form-label">nom service</label>
                  <div class="col-sm-10">
                   {{ form_widget(form.nomService,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.nomService,{'attr':{'class':'text_danger'}}) }}
                  </div>
                  
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-10 col-form-label">nombre totale des categorie</label>
                  <div class="col-sm-10">
                   {{ form_widget(form.nbTotFreelance,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.nbTotFreelance,{'attr':{'class':'text_danger'}}) }}
                  </div>
                </div>
                
                
                
                <div class="text-center">
                  <button type="submit" data-bs-toggle="modal" data-bs-target="#basicModal" class="btn btn-primary">{{ button_label|default('Save') }}</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>



                      <div class="modal fade" id="basicModal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Ajout Service</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      EN COURS
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>


                </div>
             {{ form_end(form)}}<!-- End Horizontal Form -->

            </div>
          </div>

          {% endblock %}