{% extends 'base.html.twig' %}

{% block title %}Services {% endblock %}

{% block body %}
   




      <main id="main" class="main">

    <div class="pagetitle">
      <h1>Les services</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Gestion des service</li>
          <li class="breadcrumb-item active">liste des services</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Data tables</h5>
              <p>liste des service disponible dans la platfrome TN-Job</p>
  <a type="button" class="btn btn-primary" href="{{ path('app_services_new') }}">                 <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
 Ajouter un service</a>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                   
                    <th scope="col">id Service</th>
                    <th scope="col">Nom service</th>
                    <th scope="col">nombre totale freelance</th>
                    <th scope="col">Afficher un service</th>
                    <th scope="col">Modifier un service</th>
                  </tr>
                </thead>
                <tbody>
                  {% for service in services %}
            <tr>
                <td>{{ service.idService }}</td>
                <td>{{ service.nomService }}</td>
                <td>{{ service.nbTotFreelance }}</td>
                <td>
                  <a type="button" class="btn btn-success" href="{{ path('app_services_show', {'idService': service.idService}) }}">Afficher</a> </td>
                  <td> <a type="button" class="btn btn-warning" href="{{ path('app_services_edit', {'idService': service.idService}) }}">Modifier</a> </td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>
{% endblock %}
