{% extends 'base1.html.twig' %}

 {% block body %}

 <!-- ======= Services Section ======= -->
   <section id="services" class="services section-bg">
     <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in"> Nos Services</h2>
          <p data-aos="fade-in">Voici tous les services disponible sur notre plateforme TN-JOB</p>
        </div>

    {% for service in services %}
          
        <div class="row">
          <div class="col-md-6 d-flex" data-aos="fade-right">
          
            <div class="card">
              <div class="card-img">
                <img src="{{asset('Front/assets/img/services-11.jpg')}}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">{{ service.nomService }}</a></h5>
                <p class="card-text"> Choisissez ce service il existe beaucoup de categories , vous etes le bienvenue</p>
                <div class="read-more"><a href="{{ path('app_categories_listecategories' , {'idService': service.idService}) }}"><i class="bi bi-arrow-right"></i> Cliquez-ici</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex" data-aos="fade-left">
            <div class="card">
              <div class="card-img">
                <img src="{{asset('Front/assets/img/services-22.jpg')}}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href=""> {{ service.nomService }}</a></h5>
                <p class="card-text"> Choisissez ce service il existe beaucoup de categories , vous etes le bienvenue</p>
                <div class="read-more"><a href="{{ path('app_categories_listecategories' , {'idService': service.idService}) }}"><i class="bi bi-arrow-right"></i> Cliquez-ici</a></div>
              </div>
            </div>
          </div>
               
            {% endfor %}
      </div>




          
    </section><!-- End Services Section -->

 {% endblock %}